@import '../../../styles/main';
.Bid {
    
}
.errorMessage {
    font-size: 14px;
    line-height: 1.71;
    color: #cb2d3e;
    padding-bottom: 10px;
}

.GroupButton {
    text-align: right;
}

.btnLink {
    color: $brow;
    font-size: 25px;
    display: block;
    line-height: 1;

    &:hover, &:focus {
        outline: none;
        box-shadow: none;
    }
}