$white: #f9f9f9;
$brow: #674d4a;
$sea: #319988;
$greyish-brown: #484848;
$clear-blue: #2979ff;
$very-light-pink: #d9d9d9;
$tiffany-blue: #79e0d6;
$pale: #fff2cf;
$light-mustard: #f6c468;
$pale-orange: #f4af62;
$orangey-red: #ef473a;
$salmon: #fc7875;
$lipstick: #cb2d3e;
$dusty-blue: #5b85ae;
$pale-grey: #fafcfc;
$light-periwinkle: #cae1ff;
$soft-blue: #61a7db;
$ice-blue: #ebeff1;
$pale-cyan: #baf4f2;
$light-grey-blue: #b2bec4;
$cool-grey: #94a4ad;
$blue-grey: #7c909b;
$oxford-grey: #6e8591;
$battleship-grey: #667c88;
$slate-grey: #566b76;
$gunmetal: #495a63;
$light-blue-grey: #d1d8db;
$charcoal-grey: #39474e;
$white: #fff;


//alternative
$dusty-blue-alt: #4c739a;
$pale-orange-alt: #f09328;
$sea-alt: #2c8778;
$link-hover: #4e78c0;
